# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class


# ==========================
# Virtual Environment
# ==========================

venv/
.venv/
env/


# ==========================
# Environment Variables
# ==========================

.env


# ==========================
# YOLO Models
# ==========================

*.pt
*.onnx


# ==========================
# YOLO Training Results
# ==========================

runs/


# ==========================
# Dataset
# ==========================

data/raw/


# ==========================
# IDE
# ==========================

.vscode/
.idea/


# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db


# ==========================
# Logs
# ==========================

*.log


# ==========================
# Jupyter Notebook
# ==========================

.ipynb_checkpoints/


# ==========================
# Temporary Files
# ==========================

*.tmp
*.bak


# ==========================
# Compressed Files
# ==========================

*.zip
*.rar